<#
    Session["ResourceFile"] = "MySqlNTSStrings.resx";
    Session["LoggingDefinitionsClass"] = "MySqlNtsLoggingDefinitions";
    Session["NoDiagnostics"] = true;
#>
<#@ include file="..\..\..\tools\Resources.tt" #>